{
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "proseWrap": "never",
  "importOrder": ["^(react|react-dom)$", "^([a-z]|@[a-z])", "", ".*"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
